[includeIf "gitdir:~/Developer/work/"]
    path = ~/Developer/work/.gitconfig
[includeIf "gitdir:~/Developer/personal/"]
    path = ~/Developer/personal/.gitconfig
[include]
    path = ~/.gitalias
[core]
    excludesfile = ~/.gitignore
    editor = "code --wait"
[user]
    name = Albert Abdulmanov
[alias]
    undo = reset --soft HEAD~1
    amend = commit --amend --no-edit
    l = log --graph --abbrev-commit --decorate --all --topo-order --date=format:'%d %b %H:%M:%S' --boundary --pretty=format:'%Cgreen%ad %Cred%h%Creset %C(dim white)-%Creset %s %Cblue[%cn]%Creset %C(bold green)(%ar)%Creset%C(yellow)%d%Creset'
    up = rebase origin/master
